body {
        background-image: url('bg2.jpg');
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

h1, p {
  margin: 1em auto;
  text-align: center;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
        border: 1px solid #ccc;
        padding: 20px;
        max-width: 400px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
      }


fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
   margin: 10px 0 0 0;
  width: 75%;
  min-height: 2em;
}

input, textarea {
  background-color: #bba0cb;
  border: 1px solid #bba0cb;
  color: #0a0a23;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #bba0cb;
  border-color: #bba0cb;
  min-width: 300px;
}

input[type="file"] {
  padding: 1px 2px;
}
 h1, p, fieldset, footer {
        text-align: center;
